.btn {
	display: flex;
	column-gap: rem(8);
	align-items: center;
	font-weight: 500;
	line-height: math.div(24, 16);
	color: $mainColor;
	border: rem(1) solid #d2dcef;
	border-radius: rem(6);
	padding: rem(9) rem(18);
	&-blue {
		background: $colorBlue;
		color: $colorWhite;
	}
}
