.page-registration {
	display: flex;
	// .page-registration__content
	&__content {
		position: relative;
		z-index: 1;
		background: #ffffff;
		max-width: rem(744);
		box-shadow: 0px 47px 114px rgba(26, 56, 144, 0.04), 0px 30.463px 66.7639px rgba(26, 56, 144, 0.0303704),
			0px 18.1037px 36.3111px rgba(26, 56, 144, 0.0242963), 0px 9.4px 18.525px rgba(26, 56, 144, 0.02),
			0px 3.82963px 9.28889px rgba(26, 56, 144, 0.0157037), 0px 0.87037px 4.48611px rgba(26, 56, 144, 0.00962963);
		border-right: 1px solid #d2dcef;
		@include adaptiveValue("padding-top", 152, 40, 1980, 1024, 1);
		@include adaptiveValue("padding-right", 213, 40, 1980, 1024, 1);
		@include adaptiveValue("padding-left", 209, 40, 1980, 1024, 1);
		@include adaptiveValue("padding-bottom", 198, 40, 1980, 1024, 1);
	}
	// .page-registration__header
	&__header {
	}
	// .page-registration__body
	&__body {
	}
	// .page-registration__img
	&__img {
		// margin-top: -45px;
		// margin-left: -40px;
		@include adaptiveValue("margin-top", -45, -20, 1980, 1024, 1);
		@include adaptiveValue("margin-left", -40, -20, 1980, 1024, 1);
		& img {
			transform: scale(1.06);
			max-width: 100%;
			height: auto;
		}
	}
}
.header-registration {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 35, 1980, 1024, 1);
	}
	// .header-registration__title
	&__title {
		font-family: "SFProDisplay";
		font-weight: 600;
		@include adaptiveValue("font-size", 48, 30, 1980, 1024, 1);
		line-height: 1.15;
		color: $mainColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 15, 1980, 1024, 1);
		}
	}
	// .header-registration__text
	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 18, 1980, 1024, 1);
		line-height: 1.4;
		color: rgba(42, 56, 95, 0.6);
		& a {
			color: $colorBlue;
		}
	}
}
.form-body {
	width: rem(297);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 25, 20, 1980, 1024, 1);
	}
	// .form-body__subtitle
	&__subtitle {
		font-family: "SFProDisplay";
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 24, 1980, 1024, 1);
		line-height: 1;
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(20, 30);
		}
	}
	// .form-body__navigation
	&__navigation {
		display: flex;
		column-gap: rem(12);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 20);
		}
	}
	// .form-body__title
	&__title {
		font-weight: 500;
		line-height: math.div(24, 16);
		color: $mainColor;
		opacity: 0.6;
		&._tab-active {
			opacity: 1;
			color: $colorBlue;
			border: rem(2) solid $colorBlue;
			border-radius: rem(6);
		}
	}
	// .form-body__content
	&__content {
	}
	// .form-body__body
	&__body {
	}
	// .form-body__input
	&__input {
		width: 100%;
		outline: none;
		background: #f7f9fd;
		border-radius: 6px;
		font-weight: 500;
		line-height: math.div(24, 16);
		color: #2a385f;
		opacity: 0.6;
		padding: rem(14) rem(51);
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .form-body__button
	&__button {
		width: 100%;
		background: #0052ff;
		color: #ffffff;
		border-radius: 6px;
		font-weight: 500;
		line-height: math.div(24, 16);
		padding: rem(14) rem(51);
	}
}
