.page-registration {
	max-height: calc(100vh - 80px);
	display: flex;
	// .page-registration__content
	&__content {
		flex: 0 0 100%;
		display: flex;
	}
	// .page-registration__container
	&__container {
		width: 100%;
		display: flex;
	}
	// .page-registration__body
	&__body {
		width: 30%;
		@include adaptiveValue("padding-top", 150, 40, 1980, 1336, 1);
		@include adaptiveValue("padding-bottom", 150, 10, 1980, 1336, 1);
		@include adaptiveValue("padding-right", 138, 50, 1980, 1336, 1);
		@media (max-width: em(1366)) {
			@include adaptiveValue("padding-top", 40, 30, 1366, 1024, 1);
			@include adaptiveValue("padding-bottom", 10, 10, 1366, 1024, 1);
			@include adaptiveValue("padding-right", 50, 15, 1366, 1024, 1);
			@include adaptiveValue("padding-left", 50, 15, 1366, 1024, 1);
		}
	}
	// .page-registration__header
	&__header {
	}
	// .page-registration__form
	&__form {
	}
	// .page-registration__img
	&__image {
		& img {
			max-width: 100%;
		}
		@media (min-width: $tablet) {
			position: relative;
			flex: 0 0 calc(((100vw - 30px) * 0.7) + 15px);
			transform: translate(-100%, 0px);
			padding-bottom: 48.5%;
			border-left: rem(1) solid #d2dcef;
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				box-shadow: inset 0px 47px 114px rgba(26, 56, 144, 0.04),
					inset 0px 30.463px 66.7639px rgba(26, 56, 144, 0.0303704),
					inset 0px 18.1037px 36.3111px rgba(26, 56, 144, 0.0242963),
					inset 0px 9.4px 18.525px rgba(26, 56, 144, 0.02),
					inset 0px 3.82963px 9.28889px rgba(26, 56, 144, 0.0157037),
					inset 0px 0.87037px 4.48611px rgba(26, 56, 144, 0.00962963);
			}
			& img {
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
			}
		}
		@media (min-width: em(1550)) {
			flex: 0 0 calc(50vw - (0.3 - 0.5) * 1550px);
		}
	}
}
.header-registration {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 20, 1980, 1336, 1);
	}
	// .header-registration__title
	&__title {
		font-family: "SFProDisplay";
		font-weight: 600;
		@include adaptiveValue("font-size", 48, 28, 1980, 1336, 1);
		line-height: 1.15;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 10, 1980, 1336, 1);
		}
	}
	// .header-registration__text
	&__text {
		color: rgba(42, 56, 95, 0.6);
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 16, 1980, 1336, 1);
		line-height: 1.4;
		& a {
			color: $colorBlue;
		}
	}
}
.form-body {
	@include adaptiveValue("width", 297, 265, 1980, 1336, 1);
	@media (max-width: em(1366)) {
		@include adaptiveValue("width", 265, 255, 1366, 1024, 1);
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 25, 15, 1980, 1336, 1);
	}
	// .form-body__subtitle
	&__subtitle {
		font-family: "SFProDisplay";
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 20, 1980, 1336, 1);
		&:not(:last-child) {
			margin-bottom: em(20, 30);
		}
	}
	// .form-body__navigation
	&__navigation {
		display: flex;
		column-gap: rem(12);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 20);
		}
	}
	// .form-body__title
	&__title {
		font-weight: 500;
		line-height: math.div(24, 16);
		opacity: 0.6;
		&._tab-active {
			opacity: 1;
			color: $colorBlue;
			border: rem(2) solid $colorBlue;
			border-radius: rem(6);
		}
	}
	// .form-body__content
	&__content {
	}
	// .form-body__body
	&__body {
	}
	// .form-body__input
	&__input {
		width: 100%;
		background: #f7f9fd;
		color: inherit;
		font-weight: 500;
		line-height: math.div(24, 16);
		text-align: center;
		opacity: 0.6;
		border-radius: rem(6);
		padding-top: rem(14);
		padding-bottom: rem(14);
		@include adaptiveValue("padding-right", 51, 30, 1980, 1024, 1);
		@include adaptiveValue("padding-left", 51, 30, 1980, 1336, 1);
		outline: none;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .form-body__button
	&__button {
		width: 100%;
		background: $colorBlue;
		color: $colorWhite;
		font-weight: 500;
		line-height: math.div(24, 16);
		border-radius: rem(6);
		padding: rem(14) rem(51);
	}
}
